[submodule "skills"]
	path = skills
	url = https://github.com/geckse/markdown-vdb-skills.git
[submodule "web-component"]
	path = web-component
	url = https://github.com/geckse/mdvdb-tesseract-web-component.git
[submodule "app"]
	path = app
	url = https://github.com/geckse/tesseract-md-app.git
[submodule "tesseract-skills"]
	path = tesseract-skills
	url = https://github.com/geckse/tesseract-md-skills.git
[submodule "examples"]
	path = examples
	url = https://github.com/geckse/tesseract-md-examples.git
